@font-face {
    src: url("../fonts/MuseoSans.otf");
    font-family: MuseoSans;
}

@font-face {
    src: url("../fonts/AlexBrush.ttf");
    font-family: AlexBrush;
}

#background {
    background: url("../images/flag-cropped.png") no-repeat;
    background-size: 100% 100%;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
    font-family: MuseoSans;
    margin-bottom: 20px;
    margin-top: 20px;
}

.panel {
    margin-left: -15px;
    margin-right: 20px;
    position: absolute;
}

#content {
    margin-left: 166.08px;
    min-height: 284.33px;
}

h1 {
    font-family: AlexBrush, serif;
    font-size: 64px;
}

img {
    width: 400px;
}

.footer {
    clear: both;
}

.footer p {
    display: inline-block;
}

.footer a {
    float: right;
}
