@font-face {
    src: url("../fonts/MuseoSans.otf");
    font-family: MuseoSans;
}

body {
    font-family: MuseoSans, sans-serif;
    text-align: center;
}

noscript h1, noscript h3, noscript h6, #start {
    left: 50%;
    margin-right: -50%;
    position: absolute;
}

noscript h1 {
    top: 15%;
    transform: translate(-50%, -15%);
}

noscript h3 {
    top: 45%;
    transform: translate(-50%, -45%);
}

noscript h6 {
    top: 85%;
    transform: translate(-50%, -85%);
}

#salad {
    cursor: pointer;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

i {
    left: 0;
    position: absolute;
    top: 0;
}

#cover {
    background-color: #fff;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

#start {
    background: radial-gradient(#e77, #e00);
    background-color: #e00;
    border: 10px solid #888;
    border-radius: 100%;
    cursor: pointer;
    height: 500px;
    top: 45%;
    transform: translate(-50%, -45%);
    width: 500px;
}

#start:hover {
    background: radial-gradient(#f77, #f00);
    background-color: #f00;
}

#start:active {
    background: radial-gradient(#e00, #e77);
    background-color: #e00;
}

#start div {
    margin-top: 160px;
}

#start h1 {
    color: white;
    font-size: 64px;
}

.explosion {
    display: none;
    position: absolute;
}

a {
    color: #e00;
}

a:hover {
    color: #a00;
}
